* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Helvetica, sans-serif;
    color: #323232;
    border: none;

    body {
      padding-top: 5vh;
      background-image: url(../img/bg-register-page.jpg);
      background-size: cover;
      background-position-y: -150px;
    }

    input, label {
      display: block;
      outline: none;
      width: 100%;
    }

    a {
      color: #E60084;
    }

  }
  

  
 
  
